<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>A Tech Blog</title>
    <!-- Link to Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- Your custom CSS file -->
    <link rel="stylesheet" href="../../public/styles.css"/>
</head>

<body class="secondary">
    <header>
        <div class="navbar primary mb-4">
            <h1 class="mx-auto">A Tech Blog</h1>
            <ul class="list-group list-group-horizontal">
                <a class="list-group-item border-0 m-2 btn primary" href="/">Home</a>
                <a class="list-group-item border-0 m-2 btn primary" href="/profile">Dashboard</a>
                {{#if logged_in}}
                <button class="list-group-item border-0 m-2 btn primary" id="logout">Logout</button>
                {{else}}
                <a class="list-group-item border-0 m-2 btn primary" href="/login">Login</a>
                {{/if}}
            </ul>
        </div>
    </header>
    <main class="container secondary">{{{ body }}}</main>

    {{#if logged_in}}
    <script src="../../public/logout.js"></script>
    {{/if}}
</body>
</html>
